<div class="sidebar">
  <div class="input-group search">
    <input class="form-control" type="text" placeholder="SEARCH" />
    <div>
      <button class="btn">
        <svg focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            fill="currentColor"
            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <img class="img-fluid" src="./assets/image/poster.jpg" alt="" />
  </div>
  <div class="sidebar-categories">
    <h4>CATEGORIES</h4>
    <ul *ngIf="categories$ | async as categories; else loading">
      <li *ngFor="let category of categories">
        <span
          ><a [routerLink]="['/category', category.id]">{{ category.name | uppercase }}</a></span
        >
        <span>{{ posts | counterPosts: category.id }}</span>
      </li>
    </ul>
    <ng-template #loading>
      <div class="d-flex justify-content-center loader">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="d-flex justify-content-center">
    <img class="img-fluid" src="./assets/image/boostrap-4.png" />
  </div>
  <div *ngIf="latestPosts" class="sidebar-posts">
    <h4>LATEST POST</h4>
    <div *ngFor="let post of latestPosts" class="sidebar-post">
      <img class="img-fluid" src="{{ post.img }}" />
      <div>
        <div class="title">
          <span>{{ post.title | maxLength: 31 | uppercase }}</span>
        </div>
        <div class="sidebar-post-footer">
          <span>{{ post.date | date: 'LLL. d yyyy' | uppercase }}</span>
          <span>{{ 'Like 5' | uppercase }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
