<div class="comment">
  <img class="img-fluid col-3" alt="" src="./assets/image/boostrap-4.png" />
  <div class="col-9">
    <div class="comment-title">
      <span>{{ 'John Jonson' | uppercase }}</span>
      <span id="date">14.02.2020</span>
    </div>
    <div class="comment-main">
      <span
        >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae dolor ducimus esse expedita in neque nostrum repellendus
        suscipit tenetur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, animi fugiat id magnam nulla officiis pariatur
        reprehenderit. Dolorem, iusto,
      </span>
    </div>
  </div>
</div>
