<div class="profile row">
  <div class="logo col-3">
    <img class="img-thumbnail img" src="./assets/image/boostrap-4.png" alt="logo_img" />
  </div>

  <div class="pd-20 col-9">
    <div class="vd_info"><a class="btn btn-outline-warning"> Edit </a></div>
    <h3 class="mgbt-xs-15">ABOUT</h3>

    <div class="row" *ngIf="user">
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">First Name:</label>
          <div class="col-xs-7 controls">Mariah</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">Last Name:</label>
          <div class="col-xs-7 controls">Caraiban</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">User Name:</label>
          <div class="col-xs-7 controls">Mariah</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">Email:</label>
          <div class="col-xs-7 controls">{{ user.email }}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">City:</label>
          <div class="col-xs-7 controls">Los Angeles</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">Country:</label>
          <div class="col-xs-7 controls">United States</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">Birthday:</label>
          <div class="col-xs-7 controls">Jan 22, 1984</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label">Interests:</label>
          <div class="col-xs-7 controls">Basketball, Web, Design, etc.</div>
        </div>
      </div>
    </div>
  </div>
</div>
