.profile {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.pd-20 {
  padding: 20px;
}

.vd_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.img {
  height: 250px;
  width: 220px;
}

.control-label {
  font-weight: bold;
}
