<div class="profile row">
  <div class="logo col-4">
    <img class="img-thumbnail img" *ngIf="user.logoSrc; else logo" [src]="user.logoSrc" alt="logo_img" />
    <ng-template #logo>
      <img class="img-thumbnail img" src="./assets/image/logouser.png" alt="logo_img" />
    </ng-template>
  </div>

  <div class="pd-20 col-8">
    <div class="vd_info" *ngIf="user">
      <button class="btn btn-outline-warning" [routerLink]="['/admin', 'user', user.uid, 'edit']">Edit</button>
    </div>
    <h3 class="mgbt-xs-15">ABOUT</h3>

    <div class="row" *ngIf="user">
      <div class="col-sm-6">
        <div class="row mgbt-xs-0 col-item">
          <label class="col-xs-5 control-label">First Name:</label>
          <div class="col-xs-7 controls" *ngIf="user.firstName; else firstName">{{ user.firstName }}</div>
          <ng-template #firstName>
            <div class="col-xs-7 controls">Your First Name not found</div>
          </ng-template>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row mgbt-xs-0 col-item">
          <label class="col-xs-5 control-label">Last Name:</label>
          <div class="col-xs-7 controls" *ngIf="user.lastName; else lastName">{{ user.lastName }}</div>
          <ng-template #lastName>
            <div class="col-xs-7 controls">Your Last Name not found</div>
          </ng-template>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row mgbt-xs-0">
          <label class="col-xs-5 control-label col-item">User Name:</label>
          <div class="col-xs-7 controls" *ngIf="user.username; else userName">{{ user.username }}</div>
          <ng-template #userName>
            <div class="col-xs-7 controls">Username not found</div>
          </ng-template>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row mgbt-xs-0 col-item">
          <label class="col-xs-5 control-label">Email:</label>
          <div class="col-xs-7 controls">{{ user.email }}</div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row mgbt-xs-0 col-item">
          <label class="col-xs-5 control-label">Country:</label>
          <div class="col-xs-7 controls" *ngIf="user.country; else country">{{ user.country }}</div>
          <ng-template #country>
            <div class="col-xs-7 controls">Your country not found</div>
          </ng-template>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row mgbt-xs-0 col-item">
          <label class="col-xs-5 control-label">Birthday:</label>
          <div class="col-xs-7 controls" *ngIf="user.birthday; else birthday">{{ user.birthday }}</div>
          <ng-template #birthday>
            <div class="col-xs-7 controls">Birthday not found</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
