.content {
  background: #f9f9fb;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  height: 15px;
  margin: 0 10px 3px 0;
  width: 60px;
}

.footer {
  background-color: #212429;
  height: 410px;
  width: 100%;
  clear: both;
}

.container-carousel {
  background: linear-gradient(to top, #f9f9fb 50%, #343a40 50%);
  padding: 0 30px 15px 30px;
}

.container-img{
  .img-slide {
    width: 100%;
    height: 450px;
  }
}

.navbar {
  width: 100%;
  padding: 0 1rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
a {
  text-decoration: none;
  transition: .5s linear;
  padding: 1em;
  color: white;
}

li {
  display: inline;
}

h3 {
  font-family: "Hind Semibold", sans-serif;
  color: #fefefe;
  font-size: 22px;
  margin: 0 auto;
}


.svg-icons {
  height: 15px;
  width: 15px;
}

.copyRight {
  background: #17191c;
  bottom: 0;
  height: 50px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  small {
    color: #ffffff;
    font-family: "Hind", sans-serif ;
    font-size: 14px;
    text-align: center;
  }
}

.container-item {
  width: 360px;
  margin: 50px 15px;
  color: white;
  h4 {
    font-family: "Hind bold", sans-serif ;
    font-size: 24px;
    color: #d1d1ee;
  }
  p {
    font-family: "Hind", sans-serif ;
    font-size: 15px;
    color: #f9f9fb;
  }
}

.footer-container {
  display: inline-flex;
  height: 360px;
  width: 100%;
  background: #212429;
}

.container-btn {
}

.newletter {
  margin: 25px 15px 0 15px ;
}

.input-group {
  .h4{
    height: 45px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span {
      font-family: Montserrat Bold, sans-serif;
      font-size: 20px;
    }
  }
  input {
    margin: 0 10px;
    height: 45px;
    background: #ffffff;
  }
}

.subscribe {
  font-family: "Hind Medium", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background: #212121;
  height: 45px;
  padding: 0 40px;
  margin: 0 10px;
}
